// Blockquote

blockquote {
    line-height: 2rem;
    position: relative;

    &::before,
    &::after {
        content: "\"";
        font-size: 3rem;
        font-weight: bold;
        position: absolute;
    }

    &::before {
        left: -2rem;
    }

    &::after {
        bottom: -1rem;
        right: -1rem;
    }

    p {
        margin: 0 !important;
    }
}
