# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

node_modules/
templates/.cache/
vendor/
config/credentials.json
app/dist/
