// Bookmark

#text {
    margin: 0 auto;
    padding-top: 6rem;
    width: 600px;

    img {
        height: auto;
        width: 100%;
    }

    .highlight {
        background-color: darkkhaki;
    }
}
