// Bookmarks

#bookmarks {
    padding-top: 10rem;

    li {
        margin: 2rem;
        max-width: 50%;
    }
}

#highlights {
    background-color: lightgray;
    padding: 1rem 0 3rem;
    position: fixed;
    right: 1rem;
    top: 6rem;
    width: 40%;
}

blockquote {
    line-height: 2rem;

    &::before,
    &::after {
        content: "\"";
        font-size: 3rem;
        font-weight: bold;
    }

    &::after {
        position: relative;
        top: 2rem;
    }
}
