// Colors

// descriptive colors
// ==================
$white:                   #fff;
$black:                   #000;

// client colors
// =============
$insta-black:             #262626;
$insta-lightgrey:         #e6e6e6;
$insta-orange:            #f79851;
$insta-purple:            #cB3388;

// main color palette
// ==================
// $color-primary:             $...;
// $color-secondary:           $...;

// Common colors
// =============
$color-background:          $white;
$color-text:                $insta-black;
$color-text-strong:         $insta-black;
$color-text-heading:        $insta-black;
$color-text-invert:         $white;

// Links
// =====
$color-link:                $insta-black;
$color-link-hover:          $color-link;
$color-link-visited:        $color-link;

// Headers
// =======
