// Colors

// descriptive colors
// ==================
$white:                   #fff;
$black:                   #000;

// client colors
// =============
$instap-black:             #111;
$instap-darkgrey:          #404040;
$instap-midgrey:           #7a7a7a;
$instap-lightgrey:         #ccc;

// main color palette
// ==================
// $color-primary:             $...;
// $color-secondary:           $...;

// Common colors
// =============
$color-background:          $instap-midgrey;
$color-text:                $instap-black;
$color-text-strong:         $instap-black;
$color-text-heading:        $instap-black;
$color-text-invert:         $white;

// Links
// =====
$color-link:                $instap-black;
$color-link-hover:          $color-link;
$color-link-visited:        $color-link;

// Headers
// =======
