<ul class="demo-list-item mdl-list">
    {% for bookmark in bookmarks %}
    <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
            <a href='?bid={{ bookmark.bookmark_id }}'>{{ bookmark.title|raw }}</a>

            {% if bookmark.starred %}
            &nbsp;&nbsp;<i class="material-icons">star</i>
            {% endif %}

            {% if bookmark.highlights %}
            &nbsp;&nbsp;<i class="material-icons">format_quote</i>
            {% endif %}
        </span>
    </li>
    {% endfor %}
</ul>
