{% for highlight in highlights %}

    {% set text = text|replace({
        (highlight) :
        "<span class='highlight'>" ~ highlight ~ "</span>"
    }) %}

{% endfor %}

<div id="text">
    {% if title %}
    <h2>{{ title }}</h2>
    {% endif %}

    {{ text | raw }}
</div>
