<button id="demo-menu-lower-left" class="mdl-button mdl-js-button mdl-button--icon">
    <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-left">
{% for folder in folders %}
    <li class="mdl-menu__item"><a href='?fid={{ folder.folder_id }}'>{{ folder.display_title }}</a></li>
{% endfor %}
</ul>
