<nav>
    <i id="hamburger" class="material-icons">menu</i>

    <ul>
        <li>
            <a href="?fid=starred">Starred</a>
        </li>
        {% for folder in folders %}
        <li>
            <a href='?fid={{ folder.folder_id }}'>{{ folder.display_title }}</a>
        </li>
        {% endfor %}
    </ul>

    <div id="username">
        <span>{{ username }}</span>
    </div>
</nav>
